.box {
  display: flex;
  flex-wrap: wrap
}

nav,
table {
  width: 100%;
  height: 100%;
}

.brandLogo {
  font-size: 50px;
  display: table;
  text-align: left;
}

.menu {
  float: left;
  font-size: 1.5rem;
}

.search {
  width: 100%;
  input {
    width: inherit;
  }
}

.container {
  font-size: 1rem;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
}
.bodyContainercol {
  display: flex;
  flex-direction: column;
}

.materialIcons {
  font-size: 2.4em;
  cursor: pointer;
}

.card {
  background-color: lightgrey;
  padding: 5px;
  margin: 5px;
  img {
    width: 300px;
    height: 300px;
  }
}

.card .card-image .cardTitle {
  color: black;
  font-weight: 400
}

.cartIcon {
  float: right;
  text-align: center;
  text-decoration: none;
  width: max-content;
}

.cartCount {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  svg {
    height: 24px;
    width: 24px;
  }
}

.collection .collectionItem {
  display: flex;
}

.collectionItem.avatar .title .collectionItemAvatar {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;

}

.collection .collectionItem img {
  width: 150px;
  margin-right: 25px;
}

.itemDesc {
  align-self: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  >div {
    margin: 1rem;
    margin-top: auto;
  }
}
